{% extends 'administrativo/baseCrud.html' %}
{% block title %} Mantenedor historias {% endblock %}
{% block body%}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h3 class="text-center">Gestión de historias</h3>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'agregarHistoria' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <input type="text" id="identifier" name="identifier" class="form-control" placeholder="Identificador" maxlength="5" readonly>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="title" name="title" class="form-control" placeholder="Título"
                            maxlength="200" required>
                    </div>
                    <div class="form-group mb-4">
                        <textarea id="content" name="content" class="form-control" rows="4" placeholder="Ingresa la historia"></textarea>
                    </div>
                    <div class="form-group mb-4">
                        <label for="img">Imagen: </label>
                        <input type="file" id="img" name="img" class="form-control-file">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success text-white btn-md w-100" onclick="showAlert()">GUARDAR</button>
                    </div>
                </form>
                <div role="alert" id="mensaje" class="alert alert-success mt-3" style="display: none;">
                    {% if mensaje %}
                    {{ mensaje }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <div class="table-responsive py-2">
            <table class="table table-striped">
                {% if historias %}
                <thead class="table-dark">
                    <tr>
                        <th>Identificador</th>
                        <th>Titulo</th>
                        <th>Contenido</th>
                        <th> Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for h in historias %}
                    <tr>
                        <td>{{ h.id_historia }}</td>
                        <td>{{ h.titulo }}</td>
                        <td>{{ h.content }}</td>
                        <td>
                            <div style="display: flex; gap: 10px;">
                                <a href="{% url 'edicionHistoria' h.id_historia %}" class="btn btn-info">Editar</a>
                                <a href="{% url 'eliminarHistoria' h.id_historia %}" class="btn btn-danger">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}