{% extends 'administrativo/baseCrud.html' %}
{% block title %} Mantenedor productos {% endblock %}
{% block body%}
<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-4 col-xl-4">
        <h3 class="text-center">Gestión de productos</h3>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'agregarProducto' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <input type="text" id="cod" name="cod" class="form-control" placeholder="Código" maxlength="5" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="title" name="title" class="form-control" placeholder="Título"
                            maxlength="50" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="sub" name="sub" class="form-control" placeholder="Subtítulo"
                            maxlength="200" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="number" id="price" name="price" class="form-control" placeholder="Precio" required>
                    </div>
                    <div class="form-group mb-4">
                        <input type="text" id="cont" name="cont" class="form-control" placeholder="Contenido neto"
                            maxlength="20" required>
                    </div>
                    <div class="form-group mb-4">
                        <textarea id="desc" name="desc" class="form-control" rows="4" placeholder="Ingresa la descripción" required></textarea>
                    </div>
                    <div class="form-group mb-4">
                        <label for="img">Imagen: </label>
                        <input type="file" id="img" name="img" class="form-control-file">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success text-white btn-md w-100" onclick="showAlert()">GUARDAR</button>
                    </div>
                </form>
                <div role="alert" id="mensaje" class="alert alert-success mt-3" style="display: none;">
                    {% if mensaje %}
                    {{ mensaje }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <div class="table-responsive py-2">
            <table class="table table-striped">
                {% if productosTotales %}
                <thead class="table-dark">
                    <tr>
                        <th>Codigo</th>
                        <th>Titulo</th>
                        <th>Subtitulo</th>
                        <th>Precio</th>
                        <th>Contenido neto</th>
                        <th>Descripcion</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in productosTotales %}
                    <tr>
                        <td>{{ p.cod }}</td>
                        <td>{{ p.title }}</td>
                        <td>{{ p.subtitle }}</td>
                        <td>{{ p.price }}</td>
                        <td>{{ p.netContent }}</td>
                        <td>{{ p.description }}</td>
                        <td>
                            <div style="display: flex; gap: 10px;">
                                <a href="{% url 'edicionProducto' p.cod %}" class="btn btn-info">Editar</a>
                                <a href="{% url 'eliminarProducto' p.cod %}" class="btn btn-danger">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}