{% extends 'administrativo/baseCrud.html' %}
{% block title %} Mantenedor de países {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
        <h3 class="text-center">Gestión de países</h3>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive py-2">
                    <table class="table table-striped">
                        {% if paises %}
                        <thead class="table-dark">
                            <tr>
                                <th>Nombre</th>
                                <th>Código</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in paises %}
                            <tr>
                                <td>{{ p.nombre }}</td>
                                <td>{{ p.codigo }}</td>
                                <td>
                                    <div style="display: flex; gap: 10px;">
                                        <a href="{% url 'paises_edit' pk=p.pk %}" class="btn btn-info">Editar</a>
                                        <a href="{% url 'paises_del' pk=p.pk %}" class="btn btn-danger">Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        {% endif %}
                    </table>
                </div>
                <button type="button" class="btn btn-secondary">
                    <a href="{% url 'crud' %}" style="text-decoration: none;" class="text-white">Volver</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a href="{% url 'paisesAdd' %}" style="text-decoration: none;" class="text-white">Agregar</a>
                </button>
            </div>
            <div id="mensaje">
                {% if mensaje %}
                <div class="alert alert-success" role="alert">
                    {{ mensaje }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
