{% extends 'administrativo/baseCrud.html' %}
{% block title %} Actualización de país {% endblock %}

{% block body %}
<div class="container mt-1">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center">Editar país</h2>
            <div class="card">
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-group mt-3">
                            <a href="{% url 'crud_paises' %}" class="btn btn-secondary">Volver</a>
                            <button type="submit" class="btn btn-success">Actualizar</button>
                        </div>
                    </form>
                    <div role="alert" id="mensaje" class="alert alert-success mt-3" style="display: none;">
                        {% if mensaje %}
                        {{ mensaje }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
